<div class="wrapper">
    <span class="bg-animate"></span>
    <div class="form-box login">
      <h2>Registration </h2>
      <form action="#">
        <div class="input-box">
          <input type="text" required>
          <label>FirstName</label>
          <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
          <input type="text" required>
          <label>LastName</label>
          <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
          <input type="text" required>
          <label>Email</label>
          <i class='bx bxs-envelope'></i>
        </div>
        <!-- <div class="input-box box ">
          
          <input id="date" type="date" required>
          <label for="date">Employment Date </label>
          <i class='bx bxs-user'></i>
        </div> -->
        <div class="boxdate">
          <label for="date">Employement Date</label>
          <input id="date" type="date" required>
          
        </div>
        <div class="input-box">
          <input type="text" required>
          <label>Original Establishement</label>
          <i class='bx bxs-school'></i>
        </div>
        <div class="input-box">
          <input type="text" required>
          <label>Last Diploma</label>
          <i class='bx bxs-book-bookmark'></i>
        </div>
        <div class="input-box">
          <input type="text" required>
          <label>Grade</label>
          <i class='bx bxs-briefcase'></i>
        </div>
        <div class="input-box">
          <input type="text" required>
          <label>Role</label>
          <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
          <input type="text" required>
          <label>Password</label>
          <i class='bx bxs-lock-alt'></i>
        </div>
        <button type="submit" class="btn">Sign Up</button>
        <div class="logreg-link">
          <p>Already have an account? <a routerLink="/login" class="register-link">Sign In</a></p>
        </div>
      </form>
    </div>
    <div class="info-text login">
      <h2>Welcome To Our Application!</h2>
      <p>web project !!!!!!!!!!!!!!!! </p>
    </div>
  </div>

