<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="signup-box">
            <div class="title">
                Créer un compte
            </div>
            <form  [formGroup]="SignupForm">
            <div class="row">
                <div class="col">
                    <div class="textbox">
                <input type="text" placeholder="First name" formControlName="FirstName" required>
                    </div>
                </div>
                <div class="col">
                    <div class="textbox">
                <input type="text" placeholder="Last name" formControlName="LastName" required>
                    </div>
                </div>
            </div>
                 <div class="textbox">
                    <input  type="text"  placeholder="Phone number" formControlName="PhoneNumber" required>
                 </div>
                 <div class="textbox">
                    <input  type="email"   placeholder="Email" formControlName="Email" required> 
                 </div>
                 <div class="textbox">
                    <input  type="text"   placeholder="Username" formControlName="Username" required> 
                 </div>
                 <div class="textbox">
                    <input  type="password"   placeholder="Password" formControlName="Password" required> 
                 </div>
                 <div class="button">
                    <input type="button"  value="SIGN UP" (click)="SignUp(SignupForm)" [disabled]="!SignupForm.valid">
                 </div>
            </form>
        </div>
    </div>
</body>
</html>
