
      <!--menu admin ou chercheur-->
    
        
      <nav class="navbar">
        <div class="navbar-left">
          <img src="/assets/logo.png" alt="Logo" class="logo" />
          <input type="text" placeholder="Search..." class="search-bar" />
        </div>
      
        <div class="navbar-right">
          <div class="dropdown" >
            <button class="dropdown-btn">Menu ▼</button>
            <ul class="dropdown-menu" *ngIf="menu === 'admin'">
              <li><a href="#">Profil</a></li>
              <li><a href="#">Paramètres</a></li>
              <li><a href="#">Déconnexion</a></li>
            </ul>
          </div>
      
          <button class="btn sign-in" (click)="login()">Sign In</button>
          <button class="btn sign-up" (click)="Signup()">Sign Up</button>
        </div>
      </nav>
      
 <!--les cartes d'actualité -->
 <div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let myticket of tickets">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">Actualité {{myticket.id}}</h5>
          <div class="card-text">
            <label><b>Numéro : </b> {{myticket.id}}</label><br>
            <label><b>Description : </b>{{myticket.description}}</label><br>
            <label><b>État : </b> {{myticket.id_etat}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card" *ngFor="let myticket of tickets">
  <img src="assets/images/login.png" alt="Image" class="card-img" />
  <div class="card-body">
    <h3 class="card-title">Titre de la carte</h3>
    <p class="card-text">
      Ceci est un exemple de contenu pour une carte élégante et responsive.
      <label><b>Numéro : </b> {{myticket.id}}</label><br>
            <label><b>Description : </b>{{myticket.description}}</label><br>
            <label><b>État : </b> {{myticket.id_etat}}</label>
    </p>
    <button class="card-btn">En savoir plus</button>
  </div>
</div>

  
