<div class="dashboard-container">
  <div class="sidebar">
    <app-menu-dashboard></app-menu-dashboard>
  </div>

  <div class="main-content mx-5">
    <h2>Bienvenue Admin</h2>
    <div class="dashboard-grid">
      <div class="stat-card">
        <h3>Utilisateurs</h3>
        <p>125</p>
      </div>
      <div class="stat-card">
        <h3>Tickets en attente</h3>
        <p>14</p>
      </div>
      <div class="stat-card">
        <h3>Tickets traités</h3>
        <p>87</p>
      </div>
    </div>
  </div>
</div>
