.associate-container {
  margin-left: 250px; /* Décale à droite du menu */
  padding: 30px;
  background-color: #f5f7fa;
  min-height: 100vh;
}

.associate-container h2 {
  color: #0d47a1;
  margin-bottom: 30px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: 600;
  color: #0d47a1;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
}

.btn-primary {
  background-color: #0d47a1;
  border-color: #0d47a1;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  width: 100%;
}

.btn-primary:hover {
  background-color: #1565c0;
  border-color: #1565c0;
}
